// http://paletton.com/#uid=52P0u0kfhEg5sWeayOijuvdnrri
@import './_helper.scss';
@import url('https://fonts.googleapis.com/css?family=Share');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

$title-size: 65px;
$link-size: 35px;
$regular-link-size: 21px;
$error: red;
$success: #4BB543;
$modal-width: 500px;

*
{
    font-family: 'Share';
}

a
{
    text-decoration: none;
    color: #90D6D6;
    &:visited
    {
        color: #90D6D6;
    }
}

.linkit-home, .linkit-new, .heading, .nav, .options, .more, .stacked-options
{
    display: flex;
}

.linkit-home, .linkit-new, .options, .more, .stacked-options
{
    flex-direction: column;
}

.nav
{
    flex-direction: column;
    margin-bottom: 1em;
}

.heading
{
    flex-direction: row;
    flex: 5;
    align-items: center;
}

.title
{
    flex: 4;
    font-size: $title-size - 10px;
    @media screen and (min-width: $medium)
    {
        font-size: $title-size;
    }
}

.head-link
{
    font-size: $regular-link-size - 5px!important;
    @media screen and (min-width: $medium)
    {
        font-size: $regular-link-size!important;
    }   
}

.colored
{
    color: #9DEB9D;
}

.more, .stacked-options
{
    align-items: center;
}

.stacked-options
{
    padding-right: 8px;
}

.linkit-fb-picture
{
    padding-bottom: 5px;
}

.subtitle
{
    margin-top: 0;
    font-size: 1.1em;
    font-weight: 400;
    @media screen and (min-width: $medium)
    {
        font-size: 1.7em;
    }
}

.undertitle
{
    margin-top: 0;
    color: grey;
    font-size: 0.8em;
    @media screen and (min-width: $medium)
    {
        font-size: 1em;
    }
}

.normal-link
{
    font-size: $regular-link-size;
    cursor: pointer;
}

.linkit-post
{
    display: flex;
    align-items: center;
    margin-left: 0.5em;
}

.voting-options
{
    display: flex;
    flex-direction: column;
}

%vote
{
    cursor: pointer;
    font-size: $regular-link-size + 5px;
    margin: 0;
    padding: 0;
}

.upvote
{
    @extend %vote;
    &:hover
    {
        color: #4EC74E;
    }
}

.downvote
{
    @extend %vote;
    &:hover
    {
        color: #B9E85B;
    }
}

.upvoted
{
    color: #2FAE2F;
}

.downvoted
{
    color: #99CB36;
}

.linkit-link
{
    font-weight: normal;
    font-size: $link-size;
    margin-left: 0.3em;
    padding-bottom: 0.1em;
    // transform: scaleX(1.2); scale messed with the margin
}

.linkit-post-form
{
    display: flex;
    flex-direction: column;
}

.inputs
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 2em;
    & > *
    {
        margin: 10px;
    }
}

.linkit-input
{
    border-style: solid;
    border-radius: 4px;
    font-size: 20px;
    padding: 6px 6px 6px 10px;
    width: 30%;
    @media screen and (min-width: $medium)
    {
        width: 25%;
    }
}

.linkit-button
{
    cursor: pointer;
    color: white;
    background-color: #4EC74E;
    border-style: none;
    border-radius: 6px;
    font-size: 20px;
    padding: 6px;
    width: 30%;
    @media screen and (min-width: $medium)
    {
        width: 15%;
    }
}

.submission
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}

.linkit-error-title, .linkit-error-message
{
    color: $error;
}

.linkit-success-title, .linkit-success-message
{
    color: $success;
}

.linkit-error-title, .linkit-success-title
{
    border-bottom: 7px solid grey;
    width: $modal-width;
}