@import '_helper.scss';
@import url('https://use.fontawesome.com/releases/v5.2.0/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Raleway');

%text
{
    font-family: 'Raleway';
}

.wikiviewer-header-title
{
    @extend %text;
    font-size: 3.5em;
    padding-top: 2em;
    @media screen and (min-width: $medium)
    {
        font-size: 6em;
        padding-top: 1.5em;
        padding-bottom: 0;
        margin-bottom: 0.2em;
    }
}

.wikiviewer-header-subtitle
{
    @extend %text;
    font-size: 1.5em;
    padding-top: 0;
    margin-bottom: 2em;
    @media screen and (min-width: $medium)
    {
        margin-bottom: 2.6em;
    }
}

.wikiviewer-autosuggest-suggestion-box
{
    display: inline;
    & > h2
    {
        @extend %text;
        display: inline;
        color: #A8C0FC;
        margin-right: 10px;
    }
    & > span
    {
        @extend %text;
        display: inline;
        color: #BBBBBB;
    }
}

.wikiviewer-autosuggest-suggestion
{
    @extend %text;
    padding-top: 15px;
    &:hover
    {
        cursor: pointer;
    }
}

.wikiviewer-loading-spin
{
    margin-top: 1em;
}

.wikiviewer-no-results
{
    @extend %text;
    color: red;
    font-size: 2.3em;
    padding-top: 1em;
}